@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap);


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: #FFFFFF;

    /* Butun sahifa foni oq rangda */
}

.main-container {
    max-width: 1107px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    /* Bu konteyner foni ham oq rangda */
}

.active {
    color: #359740;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;

    /* Root element foni ham oq rangda */
    .text-primary {
        @apply text-[#1F2533]
    }
}

.sticy-footer {
    margin-top: auto;
    box-shadow: 0px -7px 80px 0px #BDBDBD40;
    background-color: #FFFFFF;
    /* Footer foni ham oq rangda */
}

.bg-color-lightgreen {
    background-color: #EAF1EB;
    border-radius: 24px;
}

button {
    border: none;
}
/* styles.css */
.radio-custom {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.radio-custom:checked {
  background-color: #359740; /* Your desired color */
  border-color: #359740;
}

.radio-custom:checked::after {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
