@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap);

body {
    font-family: 'Lexend Deca', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
    max-width: 1107px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.active {
    color: #359740;
}