@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap);

body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: #FFFFFF;
    /* Butun sahifa foni oq rangda */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
    max-width: 1107px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    /* Bu konteyner foni ham oq rangda */
}

.active {
    color: #359740;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    /* Root element foni ham oq rangda */
}

.sticy-footer {
    margin-top: auto;
    box-shadow: 0px -7px 80px 0px #BDBDBD40;
    background-color: #FFFFFF;
    /* Footer foni ham oq rangda */
}